<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	</configSections>

  <modules>
    <module assemblyFile="MenuBarToolBar.dll" 
            moduleType="MenuBarToolBar.MenuBarToolBarModule, MenuBarToolBar, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
            moduleName="MenuBarToolBar" 
            startupLoaded="true" />
    <module assemblyFile="StatusBar.dll"
            moduleType="StatusBar.StatusBarModule, StatusBar, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="StatusBar"
            startupLoaded="true" />
    <module assemblyFile="RightPanel.dll"
            moduleType="RightPanel.RightPanelModule, RightPanel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="RightPanel"
            startupLoaded="true" />
    <module assemblyFile="LeftPanel.dll"
            moduleType="LeftPanel.LeftPanelModule, LeftPanel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="LeftPanel"
            startupLoaded="true" />    
  </modules>
</configuration>
