<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	</configSections>

  <modules>
    <module assemblyFile="Modules/MenuBarToolBar.dll" 
            moduleType="MenuBarToolBar.MenuBarToolBarModule, MenuBarToolBar, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
            moduleName="MenuBarToolBar" 
            startupLoaded="true" />
    <module assemblyFile="Modules/StatusBar.dll"
            moduleType="StatusBar.StatusBarModule, StatusBar, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="StatusBar"
            startupLoaded="true" />
  </modules>
</configuration>
